.navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.nav-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 50px;
}

.nav-ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
